.encologies {
    width 100%
    background white
}

.encologies-inner
    background-color white
    padding 0 20px 195.5px

.encologies-tags
    display flex
    margin 61px 20px 0
    @media screen and (max-width: 811px)
        justify-content center

    &__item
        &:not(:last-child)
            margin-right 21px

        min-width 90px
        height 35px
        display flex
        justify-content center
        align-items center
        border-radius 17.5px
        font-size 16px
        color #666
        list-style none
        box-shadow 0px 0.5px 4.5px 0.5px rgba(204, 204, 204, 0.5)
        cursor pointer

        &--active
            background-image linear-gradient(90deg,
                rgba(50, 122, 255, 0.9) 0%,
                rgba(37, 194, 253, 0.9) 100%
            ), linear-gradient(
		        #ffffff,
		        #ffffff
            )
            color white

.encologies-contents
    margin-top 12.5px !important
    display flex
    justify-content space-between
    flex-wrap wrap
    @media screen and (max-width: 811px)
        justify-content center

    &__item
        position relative
        box-sizing border-box
        margin 59.5px 20px 0px
        padding 30.5px 28.5px 17.5px
        width 346px
        height 220px
        display flex
        flex-direction column
        justify-content space-between
        box-shadow 0px 1.5px 4px 1px rgba(0, 0, 0, 0.03)
        border-radius 2.5px
        cursor pointer
        overflow hidden

        &::before
            content ""
            position absolute
            width 100%
            height 3px
            top 0
            left 0
            background-image linear-gradient(
                to right,
                #317cfe 0,
                #20bdff 50%,
                #a0fccd 100%
            )

        &-title
            display flex
            align-items center

        &-logo
            display block
            width 50px
            height 50px
            border-radius 50%
            display flex
            justify-content center
            align-items center
            font-size 28.5px
            color #ffffff
        &-info
            margin-left 12.5px

        &-name
            font-size 25px
            color #010101
        &-overview
            font-size 15px
            color #666

        &-description
            font-size 19px
            line-height 27px
            color #666
            overflow hidden
            text-overflow ellipsis
            display -webkit-box
            -webkit-line-clamp 2
            -webkit-box-orient vertical

        &-master
            font-size 14px
            text-align right
            color #666

        &-link
            position absolute
            width 100%
            height 100%
            top 0
            left 0