#banner
  background: url("https://qpic.url.cn/feeds_pic/Q3auHgzwzM44bnfVQYYudFGXrLKKSufbbtgiasSmCo5oDEibUsTStjcg/")
  height: 100vh
  background-position: center center
  color: rgba(255, 255, 255, 0.8)
  text-align: center
  background-size: cover
  .wrapper
    height: 100%
  .inner
    height: 100%
    display: -ms-flexbox
    display: flex
    -ms-flex-pack: center
    justify-content: center
    -ms-flex-align: center
    align-items: center
    flex-direction: column

#banner-title
  padding-top: 20px
  line-height: 1.15
  font-weight: 300
  font-family: font-title
  text-align: center
  font-size: 32px
  letter-spacing: 6px
  line-height: 60px
  color: #fff
  margin-bottom: 30px
  @media mq-normal
    padding-top: 100px
    font-size: 50px

#banner-bio
  font-size: 16px
  margin: 0px
  color: rgb(214, 214, 214)
  text-align: center
  margin-bottom: 70px
  @media mq-normal
    font-size: 20px

#banner-buttons
  margin-bottom: 100px
  a
    height: 50px
    padding: 0px 58px
    font-size: 16px
    margin-bottom: 20px
    color: #FFF
    background-color: transparent
    line-height: 50px
    border: 1px solid #fff
    text-transform: none
    text-decoration: none
    position: relative
    display: inline-block
    cursor: pointer
    transition: all .3s ease-out
    border-radius: 50px
    text-align: center
  .intro
    @media mq-normal
      margin-right: 20px
  .get-started
    background: #1b95e0
    border-color: transparent    

#banner-start
  text-align: center
  padding: 40px 0
  @media mq-normal
    padding: 60px 0
    font-size: 18px

#banner-start-command
  background: lighten(color-navy, 10%)
  font-family: font-mono
  display: inline-block
  padding: 15px 20px
  &:before
    content: "$"
    opacity: 0.5
    padding-right: 10px

#banner-start-link
  color: #fff
  background: color-link
  display: inline-block
  padding: 15px
  text-decoration: none
  transition: 0.2s
  &:hover
    background: color-link-hover

#banner-share
  display: none
  padding-bottom: 60px
  @media mq-normal
    display: block

#intro-feature-list
  padding-top: 20px
  text-align: center;

.intro-feature-wrap
  padding-top: 20px
  display: inline-block
  width: 25%
  min-width: 100px
  margin: 20px 20px

  @media mq-normal
    margin: 0
    padding-top: 50px

.intro-feature
  position: relative
  text-align: center
  @media mq-normal
    text-align: center

.intro-feature-icon
  color: color-link
  font-size: 36px
  padding-bottom: 26px
  text-align: center

  .image {
    max-width: 100%
  }

.intro-feature-title
  font-family: font-title
  font-size: 16px;
  color: #333;

.intro-feature-desc
  margin: line-height 0
  line-height: line-height

#intro-user-wrap
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
  h2
    margin-top: 70px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;

.intro-user-item
  display: inline-block;
  margin: 20px 24px;
  img
    width: 80px
    height: 80px
    border-radius: 18px
  p
    padding-top: 5px

#intro-get-started-wrap
  text-align: center

#intro-get-started-link
  font-size: 18px
  font-family: font-title
  display: inline-block
  color: color-link
  text-decoration: none
  margin: 40px 0
  border: 3px solid
  border-color: lighten(color-link, 20%)
  padding: 12px 24px
  position: relative
  transition: 0.2s
  &:hover
    background: @border-color
    color: #fff