node_modules
.vscode
# packages/feflow-cli
# packages/feflow-cli/coverage
# packages/feflow-gui
# packages/feflow-plugin-devtool
# packages/feflow-report
# packages/feflow-report-sdk
# examples
packages/feflow-cli/lib
packages/feflow-cli/coverage
# __tests__
dist
build
