layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: 前端工作流和规范
bio: 致力于提升研发效率和规范的工程化解决方案
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        img.image(src='https://qpic.url.cn/feeds_pic/Q3auHgzwzM7TvX6wybdlHZ34DDTyiascyvwRWt3Yicy0MNibJRGFmTYlg/')
      h3.intro-feature-title 集成Yeoman
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        img.image(src='https://qpic.url.cn/feeds_pic/ajNVdqHZLLDJxuOWCYaOCAggicG9Vaph93iaHzgZJHa3bXAsasBuYoyQ/')
      h3.intro-feature-title 插件机制
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        img.image(src='https://qpic.url.cn/feeds_pic/Q3auHgzwzM6bUMh4dUgwzhHiaf6euX3Wtlym59OxDGYM4o3PfnQibcLw/')
      h3.intro-feature-title 开发规范
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        img.image(src='https://qpic.url.cn/feeds_pic/Q3auHgzwzM7ckrQk7BnxBLKCsuwJxZLrMdAicVic9Vl3T8U0Njq9RPSA/')
      h3.intro-feature-title 主流构建支持