@charset "utf-8";

@import "./_reset";
@imgpath: '~@/assets/img';

html, body, .feflow-gui {
  height: 100%;
}


// ----------------------公共提示
.icon-empty{
    display: block;
    width: 84px;
    height: 67px;
    background: url("@{imgpath}/icon-empty.png") center no-repeat;
    background-size: 100% auto;
}
.mod-tips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;

    &__icon {
        margin: 150px  auto  30px;
        display: block;
    }

    &__text {
        line-height: 14px;
        font-size: 10px;
        color: #8A92AF;
    }
}