name: Test

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request: null
  workflow_call: null

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          # - ubuntu-latest
          - macos-latest
          # - windows-latest
        node:
          # - 10
          - 12
          # - 14
          # - 16
        architecture:
          - x64
        # an extra windows-x86 run:
        # include:
        #   - os: windows-latest
        #     node: 12
        #     architecture: x86
    name: Node ${{ matrix.node_version }} - ${{ matrix.architecture }} on ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          architecture: ${{ matrix.architecture }}
          cache: npm
      - name: Install dependencies
        run: npm ci && npm run bootstrap
        env:
          CI: true
      - name: Build
        run: npm run build
        env:
          CI: true
      - name: Test
        run: cd packages && cd feflow-cli && ls && npm run test
        env:
          CI: true

  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v2
